body {
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

.top-text {
  color: #606060
}

.navbar-ref {
  color: #808080;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  justify-content: center;
  display:flex; 
  cursor: pointer; 
  text-decoration: underline; 
}

.navbar-ul {
  background-color: white;
  display: flex;
  justify-content: center;
  width: 100%;
}

.list-inline {
  list-style: none;
  padding-left: none;
  display: flex;
  text-decoration: none;
  justify-content: space-around;
  margin: 20px 0;
  width: 50%;
}


.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  /* Additional styles as needed */
}