.rectangle-container {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 350px;
    margin: auto;
    border: 2px solid #008CBA;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
    position: relative;
    font-family: 'Lato', sans-serif;
    transition: opacity 0.1s; /* Adjust transition speed */
  }
  
  .fade {
    opacity: 0;
  }
  
  .content-wrapper {
    display: flex;
    width: 100%;
    height: 80%;
    align-items: flex-start; 
  }
  
  .rectangle-image {
    max-width: 100%; 
    max-height: 100%; 
    object-fit: contain; 
    justify-content: center;
    align-self: center;
  }
  
  .rectangle-points {
    list-style: inside;
    padding: 0;
    margin: 20px; /* remove the margin */
    width: 100%;
    color: #404040; 
  }
  
  .rectangle-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 10px;
    width: 90%;
    padding: 0 10px; /* Add some padding */
  }
  
  .rectangle-buttons button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 100px;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
    color: #606060; /* Blue text */
  }
  
  .rectangle-buttons button:hover {
    color: #008CBA; /* Blue text */
  }

  li {
    list-style-position: outside;
    margin-left: 10px; 
    margin-bottom: 4px; 
  }

  #experience-info {
    align-self: flex-start; /* align the content to the start */
    margin-left: 5px; 
  }